@import 'materialize-src/sass/materialize.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$font-sans: 'Work Sans', sans-serif;
$blue-dark-scheme : #4d2c91;
$blue-light-scheme : #b085f5;
$blue-scheme : #7e57c2;
$dark-scheme : #616161;

.card-panel{
    font-family: $font-sans;
};

.nav-wrapper{
    background-color: $blue-dark-scheme;
}

body{
    background-color: $dark-scheme;
}
table{
    font-family: $font-sans;
    background-color: $blue-dark-scheme;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
    font-family: $font-sans;
    background-color: $blue-dark-scheme;
}
html {
    overflow:   scroll;
  }
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
// #profile-photo{
//     position: absolute;
// }
// nav{
//     position: block;
// }
//   main {
//     flex: 1 0 auto;
//   }